@model Sherlock.ViewModels.LandmarkCommentsViewModel
@using Microsoft.AspNet.Identity

<div class="panel panel-default">
    <div class="panel-body">

        <h1 class="biggy">@Html.DisplayFor(model => model.Landmark.Title)</h1>
        <div><img src="@Html.DisplayFor(model => model.Landmark.Image1)" style="width: 100%;" alt="Alternate Text" /></div>
        <div style="color: transparent;">.</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Address information to be inserted</p>
                <p>City State Country</p>
            </div>
        </div>
        <div>
            <p>
                @Model.Landmark.Description
            </p>
        </div>

        <h2>Additional Links</h2>
        <a href="#">sampleLink</a>

        <h2>Rating &nbsp;&nbsp;&nbsp;<span class="alert-danger">pipes</span></h2>



        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
            @Html.ActionLink("Back to List", "Contact", "Home")
        </p>
        @if (User.Identity.IsAuthenticated)
        {

            <input type="hidden" id="userId" value="@User.Identity.GetUserId()" />

            <input type="hidden" id="landmarkId" value="@Model.Landmark.Id" />

            <div class="form-group">
                <label for="usercomment">Add a comment?</label>
                <textarea class="form-control" id="userComment" rows="3"></textarea>
                <p><button type="submit" class="btn btn-danger" onclick="saveComment();">Add</button></p>

            </div>


        }
        <p></p>
        <p></p>
        <div id="listOfComments">
            @{var lmcomments = Model.Comments.Where(w => w.LandmarkId == Model.Landmark.Id).ToList();}
            @Html.Partial("_commentsList", lmcomments)
        </div>

    </div>
</div>


@*<div>
    @Html.Partial("_voteBlock")

</div>*@